:root {
   --font-family:"Roboto", sans-serif;
   --color-grey:#EEEFF1;
   --color-light-grey:#F9F9F9;
   --color-blue:#34547A;
   --color-dark-grey:#727272;
   --color-white:#FFFFFF;
   --primary-letter-spacing: 1px;
   --primary-line-height: 26px;
   --font-weight-md: 32px;
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--color-light-grey) ;
 }

.header{
    padding-block: 80px 140px;
}

.header__tittle {
   font-weight: 500;
   line-height: 79px;
   font-size: 3rem ;
}

.text__description {
   color: var(--color-dark-grey);
   font-size: 16px;
   letter-spacing: 0.3px;
   margin-bottom: 60px;
   max-width: 540px; 
   line-height: var(--primary-line-height);
}


.header__button {
   border: 0;
   background-color: var(--color-blue);
   color: var(--color-white);
   text-transform: uppercase;
   letter-spacing: var(--primary-letter-spacing);
   padding: 20px 41px;
   line-height: 27px;
   font-size: 16px;
}   

.navbar {
    margin-bottom: 162px;

}
.container {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: var(--primary-line-height);
    font-weight: 400px;
    margin-inline: auto;
    width: min(100% - 40px, 1110px);
}

.grey-bg {
    background-color: var(--color-grey);
}
.blue-bg {
    background-color: var(--color-blue);
}

.navbar__list {
  display: flex;
  gap: 42px;
  text-transform: uppercase;
}
 .navbar__list li {
    letter-spacing: var(--primary-letter-spacing);
}

.navbar__list-item-active {
    color: var(--color-blue);
    font-weight: var(--font-weight-md);
}

h2 {
    font-weight: var(--font-weight-md);
    font-size: 2rem;
    line-height: 37px;
}

.about-me {
   padding-block: 112px 100px;
   text-align: center;
}

.about-me__description {
    margin-inline: auto;
    margin-top: 50px;
}

.projects {
    padding-block: 100px;
}
.projects-item {
    background: no-repeat url("./images/project.svg");
    width: 50px;
    height: 50px;
    padding-left: 70px;
}

.projects-items {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: var(--font-weight-md);
    color: var(--color-white);
}

.projects-item-title {
    color: var(--color-white);
    font-weight: var(--font-weight-md);
    font-size: 21px;
    line-height: var(--primary-line-height);
}

.projects-item-subtitle {
    color: var(--color-white);
    line-height: var(--primary-line-height);
}

.about-work {
    text-align: center;
    padding-block: 100px;
}

.about-work__content iframe {
    width: 1110px;
    height: 600px;
}

.footer {
    padding-block: 50px;
    font-weight: var(--font-weight-md);
}

